body{
	width: 100%;
	min-width: 300px;
	max-width: 1000px;
	text-align:center;
}

ul{
	list-style: none;
	padding-left: 0;
}

footer{
	width: 100%;
	min-width: 300px;
	max-width: 1000px;
	text-align: center;
	position: sticky;
	bottom: 0;
	background-color: #99BBCC;
}

.menu_detail{
	display: flex;
	justify-content: center;
	margin: auto;
}

.menu_item{
	background-image: linear-gradient(#EE7799, #99CCEE);
	border: solid 1px #EAB;
	text-decoration: none;
	color: white;
	width: 30%;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
}

.menu_item:hover{
	border: solid 2px #EAB;
	background-image: linear-gradient(#99CCEE, #EE7799);
	color: black;
}